# --- ROS 2 build artifacts ---
build/
install/
log/

# --- Bag Files (Crucial!) ---
# Bags can be gigabytes; never upload them to Git.
*.mcap
*.db3
.empty_bags/
bags/

# --- Maps (Sensitive) ---
src/jackal_nav2_bringup/maps/
.empty_maps/
maps/

# --- IDEs & Editors ---
.vscode/

# --- Docker & Environment ---
.env
.DS_Store

# --- Python ---
__pycache__/
*.pyc
.pytest_cache/

# --- C++ Indexing ---
.ccls-cache/

# Allow one of the maps for test.
!src/jackal_nav2_bringup/maps/my_new_map1.yaml
!src/jackal_nav2_bringup/maps/my_new_map1.pgm
